# conditional statements

In [4]:
#find the given number is even or odd
n=int(input())
if n%2==0:
    print(n,"is even")

3

In [8]:
n=int(input())
if n%2!=0:
    print(n,"is odd")
else:
    print(n,"is even")

16
16 is even

In [11]:
n=int(input())
if n%5==0:
    print(n,"It is divisible by 5")
else:
    print(n,"is not divisible by 5")

22
22 is not divisible by 5

In [14]:
x,y,z=23,12,9
if x<=y and x<=z:
    print(x,"is smaller")
elif z>=y and y<=z:
    print(y,"is smaller")
else:
    print(z,"is smaller")

9 is smaller

In [16]:
n1=input()
if 'N' in n1:
    if n1 == "Nazeer":
        print("yes it is my name")
    else:
        print("No it is not my name")
else:
        print("close the program")

Nazeer
yes it is my name

- iterators

- for loop
- while loop

In [ ]:
Syntax:
- for var in range(inclusive range,exclusive range):
- for var in Datastructure:
    statements

In [19]:
for i in range(20):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [22]:
for i in range(1,21):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [23]:
for i in range(0,21,3):
    print (i,end=" ")

0 3 6 9 12 15 18

In [25]:
for i in range(20,0,-1):
    print(i,end=" ")

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [31]:
for k in "i am Happy":
    if k=="p":
        print(k)

p
p

In [9]:
n=1
while n<=10:
    print(n,end=" ")
    n+=1

1 2 3 4 5 6 7 8 9 10

In [19]:
n=10
while n>=1:
    print(n,end=" ")
    n-=1

10 9 8 7 6 5 4 3 2 1

In [1]:
n=1
while n<=200:
    if n%2==0:
        print(n,end=" ")
    n+=1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200

In [5]:
n=int(input())
while n!=0:
    if n==0:
        break
    print(n,end=" ")
    n-=1

12
12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
n1=int(input("Ënter from year :"))
n2=int(input("Ënter to year :"))
for i in range(n1,):
    if (n1%4==0 and n1%100!=0) or (n1%400==0):
        print(n1,"is a leap year")
    else:
        print(n1,"is not a leap year")

# write a program to check the given number is
# prime number or not a prime

In [11]:
n=int(input("Enter a number :"))
count=0
for i in range(1,n):
    if n%i==0:
        count+=1
if count==1:
    print(n,"is prime number")
else:
    print(n,"is not a prime number")

Enter a number :321
321 is not a prime number

In [ ]:
# function
# syntax: def Functionname(a,b):
#            statement1
#            statement2
#                .
#                .
#            statementn
#            return output
# func calling: functionname(value1,value2)

In [6]:
def greet(name):
    """
    This function greets to the 
    person passed in as a parameter
    """
    print("Hello",name,"Good morning")

In [7]:
print(greet.__doc__)
greet("Nazeer")

    This function greets to the
    person passed in as a parameter

Hello Nazeer Good morning

In [10]:
def isprime(n):
    count=0
    for i in range(1,n):
        if n%i==0:
            count+=1
    if count==1:
        print(n,"is a prime number")
    else:
        print(n,"is not a prime number")
n1=int(input())
isprime(n1)

11
11 is a prime number